colorlog~=4.0
gordo~=0.55
inject~=4.2.0
pandas~=1.0
psycopg2-binary~=2.8
pylogctx~=1.12
requests~=2.20
requests_ms_auth>=0.2.2
confluent-kafka~=1.0.1
dataclasses-json~=0.3.5
setuptools~=41.0.0
opencensus-ext-azure~=1.0.2
redis~=3.5.2
ujson~=2.0.3
