name: Latigo CI

on:
  push:
    branches:
      - master
      - stage
  pull_request:
    branches:
      - master
      - stage

env:
  DOCKER_REGISTRY: ${{secrets.DOCKER_REGISTRY}}
  DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
  DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
  DOCKER_REPO: ${{secrets.DOCKER_REPO}}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: free disk space
      run: |
        sudo swapoff -a
        sudo rm -f /swapfile
        sudo apt clean
        docker rmi $(docker image ls -aq)
        df -h
    - name: List environment info
      run: |
        make show-env
        make info

    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7

    - uses: actions/cache@v1
      id: cache
      with:
        path: ~/.cache/pip
        key: pip-${{ hashFiles('**/requirements.txt') }}-${{ hashFiles('**/test_requirements.txt') }}
        restore-keys: |
          pip-

    - name: Install project requirements
      run: |
        python -m pip install --upgrade pip
        pip install -r app/requirements.txt
        pip install -r app/test_requirements.txt

    - name: Run Unit Tests
      run: |
        make tests_unit

    - name: Run Integration Tests
      run: |
        make tests_integration
      env:
        METADATA_API_TENANT: ${{ secrets.METADATA_API_TENANT }}
        METADATA_API_CLIENT_ID: ${{ secrets.METADATA_API_CLIENT_ID }}
        METADATA_API_CLIENT_SECRET: ${{ secrets.METADATA_API_CLIENT_SECRET }}
        METADATA_API_RESOURCE: ${{ secrets.METADATA_API_RESOURCE }}
        METADATA_API_AUTHORITY_HOST_URL: ${{ secrets.METADATA_API_AUTHORITY_HOST_URL }}
        METADATA_API_BASE_URL: ${{ secrets.METADATA_API_BASE_URL }}
        METADATA_API_APIM_KEY: ${{ secrets.METADATA_API_APIM_KEY }}

    - name: Build docker images for scheduler and executor
      if: github.ref == 'refs/heads/master'
      run: |
        make build

    - name: Scan image
      if: github.ref == 'refs/heads/master'
      run: |
        make scan

    - name: Push docker images for scheduler and executor
      if: github.ref == 'refs/heads/master'
      run: |
        make push
